/* 
* common styling 
* anything missing from here is in the theme file 
* /

/* Selection color */
::-moz-selection {
  /* Code for Firefox */
  color: var(--light-anti-theme);
  background: var(--light-theme);
}

::selection {
  color: var(--light-anti-theme);
  background: var(--light-theme);
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
}

/*
* home page has no theme switcher, yet
*
*/
.home {
  background: var(--light-anti-theme);
}

.home pre {
  font-size: 10px;
  font-family: monospace;
}

.markdown-body {
  font-family: "Droid Sans", sans-serif;
}

/*
* floating menu with theme switcher
*
*/

#floating-menu-wrapper {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 20px;
}

#floating-menu {
  position: fixed;
  width: 40px;
  height: 40px;
}

#floating-menu button {
  background: none;
  border: none;
  cursor: pointer;
}

.current-theme {
  display: none !important;
}

/*
* anchors
*
*/
a:hover {
  text-decoration: underline;
}

/*
* Section containing post title etc
*
*/
.post-header {
  margin-bottom: 10px;
}

/*
* Tags are not shown for the moment
*
*/
.post-tags {
  font-size: 11px;
  text-align: right;
  width: auto;
  margin: auto;
  padding-top: 3px;
}

/*
* Published date
*
*/
.post-date {
  font-weight: 800;
}

/*
* sub div for the published date
* .post-date is an element inside this
*
*/
.pub-date {
  text-align: left;
}

.reading-time {
  text-align: right;
}

/* 
* Don't show post author for now
*
*/
.post-author {
  float: right;
  font-weight: 600;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.toc {
  font-size: 9px;
  margin-bottom: 10px;
}

/* .toc hr {
  color: #fff;
} */

.toc li {
  padding: 3px;
}

.markdown-body table {
  display: table;
  overflow: auto;
  margin: auto;
  width: auto;
}

.prev-next .prev {
  margin: auto;
  text-align: left;
}

.prev-next .next {
  margin: auto;
  text-align: right;
}

.sm-icons {
  float: right;
  height: 20px;
  width: 100px;
  display: block;
  text-align: right;
}

.site-footer .sm-icons {
  float: left;
  height: 20px;
  width: 100px;
  display: block;
  text-align: left;
}

.site-footer-item {
  float: right;
  display: block;
  text-align: right;
}
.signatures {
  font-family: "Droid Sans", "Arvo", Helvetica, "Liberation Sans", sans-serif;
}

.signatures a {
  text-decoration: none;
}
/* .lang-switch {
  font-weight: 600;
} */

/* posts */

#posts-list {
  min-height: 70%;
}

.posts-date {
  font-weight: bold;
  font-size: 0.75em;
}

.posts-title {
  font-size: 1em;
}

.post-line {
  margin: 12px 0;
}
.site-footer-item {
  margin-right: 12px;
}

/* post */

@media screen and (max-width: 600px) {
  .site-header {
    display: none;
  }
  .post-content {
    padding: 0 12px;
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.6;
  text-align: justify;
  text-justify: ideographic;
  word-break: break-word;
  margin-bottom: 2em;
}

.releated-content li {
  margin: 5px 0;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

/* #disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}
*/
/*
* Don't use ads for the moment
*
*/
.post-ads {
  margin: 50px 0;
}
