// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
h1{
    font-size:2em;
}

a{
    color: #333;
}

a:visited{
    color: #333;
}

.entry-content a{
    text-decoration: none;
    border-bottom: 2px solid #888;
    padding-bottom: 1px;
}

a:hover{
    color: #333;
}

.entry-title{
    color:black;
    font-family: "medium-content-sans-serif-font","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size:52px;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
}

.entry-title a:hover{
    color: black
}

article p{
    text-align:justify;
}

h1, h2, h3, h4, h5 {
    color:#666;
}

#content .blog-index article{
    border-top:4px solid #969696;
}

body>nav fieldset[role=search]{
    padding-top:10px;
}

body>header{
    padding-bottom: 50px;
}

article h2{
    padding-top: 0.3em;
}

blockquote{
    color:#999;
}

p code, li code{
    font-family: 'Ubuntu Mono' ;
    font-size: 13px;
    background: #eee;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

body{
    max-width:880px;
}

body>header h1{
    max-width:500px;
    position:initial;
}

body>nav ul{
    padding-top:1em;
}

body>header h2{
    width:500px;
}

.entry-content{
    font-family: "medium-content-sans-serif-font","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}

.entry-title a, .entry-title, .entry-title a:hover, .entry-title a:visited{
    color: #333;
}